[keys]
row=2
col=2

[SparkleShare]
row=1
col=2

[Desktop]
row=4
col=0

[Dropbox]
row=0
col=1

[downloads]
row=3
col=0

[btsync]
row=2
col=1

[archives]
row=1
col=1

[Trash]
row=2
col=0

[File System]
row=1
col=0

[Home]
row=0
col=0

