
########################
# ENUM, DESCR, ITEMIZE #
########################
snippet "^\s*\\?e(n(u(m(e(r(a(t(e)?)?)?)?)?)?)?)?" "Enumerate Environment" r
\begin{enumerate}
	\item $0
\end{enumerate}
endsnippet

snippet "^\s*\\?i(t(e(m(i(z(e)?)?)?)?)?)?" "Itemize" r
\begin{itemize}
	\item $0
\end{itemize}
endsnippet

snippet "^\s*\\?d(e(s(c(r(i(p(t(i(o(n)?)?)?)?)?)?)?)?)?)?" "Description" r
\begin{description}
	\item[$1] $0
\end{description}
endsnippet

