###########################################################################
#                            TextMate Snippets                            #
###########################################################################

snippet pp "Proc Print" b
proc print data = d;
    title "d";
run;
endsnippet

snippet %m "Macro Definition" b
%macro m(arg1);
%mend;
endsnippet

snippet ps "Proc SQL" b
proc sql;
    select * 
    from 
        t
    ;
quit;
endsnippet
