[fontconfig]
row=3
col=2

[mnt]
row=0
col=2

[Steam]
row=4
col=2

[sync.log]
row=3
col=0

[sme]
row=4
col=0

[archives]
row=2
col=1

[downloads]
row=4
col=1

[Dropbox]
row=1
col=1

[nomachine_4.0.369_1_i386.deb]
row=0
col=1

[btsync]
row=3
col=1

[y570]
row=1
col=2

[NoMachine]
row=2
col=2

[Xubuntu 13.10 amd64]
row=0
col=3

[Trash]
row=2
col=0

[File System]
row=1
col=0

[Home]
row=0
col=0

