[workspace]
row=4
col=1

[Desktop]
row=1
col=1

[clustering.pdf]
row=3
col=1

[fontconfig]
row=7
col=0

[mnt]
row=0
col=1

[archives]
row=1
col=0

[virtualenvs]
row=5
col=1

[downloads]
row=2
col=1

[VirtualBox VMs]
row=5
col=0

[Dropbox]
row=4
col=0

[btsync]
row=0
col=0

[sim_2_3]
row=6
col=0

[NoMachine]
row=3
col=0

[Trash]
row=2
col=0

