
snippet le "<=" !i
<=
endsnippet

snippet ge ">=" !i
>=
endsnippet

snippet ne "!=" !i
<=
endsnippet

snippet "inc(r(e(a(s(e)?)?)?)?)?" "+=" !rw
+= 
endsnippet

snippet "dec(r(e(a(s(e)?)?)?)?)?" "+=" !rw
-= 
endsnippet

snippet /3 "Comment Block" !b
/*
$1
*/
endsnippet

