[tags.html]
row=6
col=1

[Dropbox]
row=4
col=0

[workspace]
row=4
col=1

[debian-testing-amd64-CD-1.iso]
row=2
col=3

[milman.pdf]
row=7
col=2

[xubuntu-13.10-desktop-amd64.iso]
row=1
col=1

[bashrc-ubuntu]
row=7
col=3

[ubill.pdf]
row=3
col=3

[Vole]
row=1
col=3

[Desktop]
row=1
col=0

[antiX-13.1_x64-full.iso]
row=5
col=2

[hadoop_install.pdf]
row=4
col=2

[temp]
row=0
col=2

[linux-questions.txt]
row=5
col=3

[hadoop-1.2.1-bin.tar.gz]
row=3
col=2

[Request_for_Final_Oral_Examination_r.pdf]
row=7
col=0

[btsync]
row=0
col=0

[downloads]
row=2
col=1

[_posts]
row=7
col=1

[virtualenvs]
row=5
col=1

[hadoop-1.2.1]
row=2
col=2

[VirtualBox VMs]
row=5
col=0

[transcript.pdf]
row=3
col=0

[wright-kdd-2013.pdf]
row=1
col=2

[Documents]
row=3
col=1

[blog]
row=6
col=0

[curand.pdf]
row=6
col=3

[W00083940.jpg]
row=6
col=2

[packmicro.jpg]
row=0
col=3

[mnt]
row=0
col=1

[ubuntu.tmp.txt]
row=4
col=3

[Trash]
row=2
col=0

