[workspace]
row=7
col=0

[Desktop]
row=0
col=0

[mnt]
row=0
col=1

[cookies]
row=5
col=1

[archives]
row=3
col=0

[kdenlive]
row=4
col=0

[virtualenvs]
row=2
col=0

[downloads]
row=5
col=0

[Dropbox]
row=6
col=0

[Documents]
row=2
col=2

[btsync]
row=4
col=2

[ms_office]
row=1
col=1

[Trash]
row=1
col=0

