[Desktop Entry]
Type=Application
Exec=cairo-dock -o
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=GLX-Dock
Name=GLX-Dock
Comment[en_US]=Cairo Dock with OpengL.
Comment=Cairo Dock with OpengL.
