name: Lint Code

on:
  push:
    branches:
      - "!main"
  pull_request:
    branches:
      - "*"

jobs:
  lint_code:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip3 install -U git+https://github.com/dclong/xinstall@main
        xinstall pt -ic
        ~/.local/bin/poetry env use python3
        ~/.local/bin/poetry install
    - name: Lint with pylint
      run: |
        ~/.local/bin/poetry run pylint -E xinstall/
    - name: Lint with pytype
      run: |
        ~/.local/bin/poetry run pytype xinstall/ tests/
    - name: Check code format
      run: |
        ~/.local/bin/poetry run yapf -dr xinstall/ tests/
