
snippet "is null" "is null transformation" w
== None
endsnippet

snippet "is not null" "is not null transformation" w
!= None
endsnippet

snippet "\bno(n(e)?)??" "None" r
None
endsnippet

snippet "\bt(r(u(e)?)?)?" "True" r
True
endsnippet

snippet "\bf(a(l(s(e)?)?)?)?" "False" r
False
endsnippet

