
snippet "is null" "is null transformation" !w
== None
endsnippet

snippet "is not null" "is not null transformation" !w
!= None
endsnippet

snippet none "None" !w
None
endsnippet

snippet true "True" !w
True
endsnippet

snippet false "False" !w
False
endsnippet

